@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&family=Space+Grotesk:wght@600&display=swap');

@font-face {
  font-family: 'Edge of the Galaxy';
  src: local('Edge of the Galaxy'), url(./fonts/EdgeOfTheGalaxyPoster-3zRAp.otf) format('opentype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

html {
  background-color: #040404;
  color: #d7d9ce;
}

h1 {
  font-family: 'Edge of the Galaxy', 'Space Grotesk';
  letter-spacing: .3rem;
  font-size: 6rem;
}

h2 {
  font-family: 'Space Grotesk';
  font-size: 1.6rem;
}

header {
  display: flex;
  height: 150px;
  padding-left: 40px;
  align-items: center;
  background: rgb(12,116,137);
  background: -moz-linear-gradient(180deg, rgba(12,116,137,1) 0%, rgba(4,4,4,1) 90%);
  background: -webkit-linear-gradient(180deg, rgba(12,116,137,1) 0%, rgba(4,4,4,1) 90%);
  background: linear-gradient(180deg, rgba(12,116,137,1) 0%, rgba(4,4,4,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c7489",endColorstr="#040404",GradientType=1);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-container {
  width: 98%;
  margin: 0 auto;
}

.dso-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.dso-card {
  text-align: center;
  background-color: #13505b;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 250px;
  border-radius: 5px;
}

.dso-card ul {
  margin: 0;
  padding: 0;
}

.dso-card h2 {
  margin: 10px;
}

.dso-card p {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.dso-card input {
  margin: 5px 0;
}

.dso-card button {
  width: auto;
  margin: 5px 0;
}

.dso-card li {
  list-style-type: none;
  margin: 5px;
}

.dso-card img{
  width: 200px;
  height: 180px;
  border-radius: 15px;
  margin: 10px;
}

.location-input {
  display: flex;
  color: #d7d9ce;
  background-color: rgba(12, 116, 137, .2);
  flex-direction: column;
  width: 370px;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.location-input form {
  padding: 5px;
}

.location-input p {
  color: red;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}

button {
  font-family: 'Space Grotesk';
  width: 200px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(17, 157, 164, 0.5) 0px 5px 15px;
}

label {
  font-family: 'Space Grotesk';
  font-size: 1.1rem;
  width: 130px;
}

input {
  background-color: #d7d9ce;
  color: #040404;
  font-family: 'Source Sans Pro';
  padding: 10px;
  box-shadow: none;
  border: none;
  width: 200px;
  outline: none;
  border-radius: 5px;
}

.loader {
  color: #A9A9A9;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
