body {
  margin: 5px;
  padding: 0px;
}
.dso-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.dso-card {
  text-align: center;
  background-color: darkgrey;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 250px;
  border-radius: 5px;
}

.dso-card ul {
  margin: 0;
  padding: 0;
}

.dso-card p {
  margin: 0;
}

.dso-card li {
  list-style-type: none;
}

.dso-card img{
  width: 200px;
}